version: '3.8'

services:
  mongodb:
    image: mongo:8.0
    container_name: xiaoyuanbao-mongo
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    command: ['--replSet', 'rs0', '--bind_ip_all']
    restart: always

  redis:
    image: redis:7.2
    container_name: xiaoyuanbao-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: always

volumes:
  mongodb_data:
  redis_data:
